<div *ngIf="warningRaised">
  <span class="warning-msg">{{message}}</span>
</div>
<div *ngIf="errorRaised">
  <span class="error-msg">{{message}}</span>
</div>

<div *ngIf="succeeded">
  <span class="success-msg">{{message}}</span>
</div>

<div class="text-center">
  FirstName: <input [(ngModel)]="firstName" type="text"> <br> <br>
  LastName: <input [(ngModel)]="lastName" type="text"><br>
  <input (change)="onChange($event)" type="file"> <br><br>

  <button (click)="onUpload()"
          class="button-upload">
    Upload
  </button>
</div>


<!--Flag variable is used here-->
<div *ngIf="loading" class="container">
  <h3>Loading ...</h3>
</div>
