.error-msg {
  font-size: 16px;
  font-weight: bold;
  color: #c91750;
}

.success-msg {
  font-size: 16px;
  font-weight: bold;
  color: #04AA6D;
}

.warning-msg {
  font-size: 16px;
  font-weight: bold;
  color: goldenrod;
}

.button-upload {
  background-color: #1976d2; /* Green */
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: #c91750;
  display: inline-block;
  font-size: 12px;
}

.text-center {
  align-content: center;
  text-align: center;
}

input {
  width: auto;
  font-size: 14px;
}
